.projects-section {
  margin-bottom: 5rem;
}

.projects-header {
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
}

.projects {
  display: flex;
  justify-content: space-evenly;
}
