.projects-section {
  background-color: rgb(2, 2, 53);
  padding: 3rem 0;
}

/* .projects {
  font-size: 1.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
} */

.title {
  font-size: 2rem;
  width: 100%;
  font-weight: bold;
  padding: 10px 0px;
}

.project-container {
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(244, 241, 241);
  height: max-content;
  padding: 1rem 1rem;
  margin: 3rem 2rem 0;
}

.project-name.images {
  width: 50%;
  padding: 0 2rem;
  text-align: center;
}

.project-description {
  text-align: left;
  margin: auto;
  width: 50%;
  padding: 2rem 2rem;
}

.project-link {
  color: blue;
  font-weight: bold;
}

.rpsimage {
  height: 130px;
  width: 190px;
  object-fit: contain;
  background-color: white;
  margin: 5px 5px;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(111, 108, 108);
}

.quizimage {
  height: 130px;
  width: 190px;
  background-color: white;
  object-fit: contain;
  margin: 5px 5px;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(111, 108, 108);
}

.netflixcloneimage {
  height: 130px;
  width: 190px;
  background-color: white;
  object-fit: contain;
  margin: 5px 5px;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(111, 108, 108);
}

.golfappimage {
  height: 130px;
  width: 190px;
  background-color: white;
  object-fit: contain;
  margin: 5px 5px;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(111, 108, 108);
}

.starwars-image {
  height: 130px;
  width: 190px;
  background-color: white;
  object-fit: contain;
  margin: 5px 5px;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(111, 108, 108);
}
