.projects-section {
  /* margin-bottom: 5rem; */
}

.projects-header {
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
}

.projects {
  display: flex;
  justify-content: space-evenly;
}

.iframes {
  /* background-color: rgba(26, 133, 214, 0.673); */
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.calculator-container {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}

.calculator-description {
  width: 50%;
  padding: 20px 20px 0px 0px;
}

.rock-paper-scissors-container {
  display: flex;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.rock-paper-scissors-description {
  width: 50%;
  padding: 20px 20px 0px 0px;
}

.quiz-container {
  display: flex;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.quiz-description {
  width: 50%;
  padding: 20px 20px 0px 0px;
}

.movie-catalog-container {
  display: flex;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.movie-catalog-description {
  width: 50%;
  padding: 20px;
}

.star-wars-container {
  display: flex;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.star-wars-description {
  width: 50%;
  padding: 20px;
}
