.projects-section {
  margin-bottom: 5rem;
}

.projects-header {
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
}

.projects {
  display: flex;
  justify-content: space-evenly;
}

.iframes {
  /* background-color: rgba(26, 133, 214, 0.673); */
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  margin-top: 5rem;
}

.iframe-calculator {
  border: 5px solid black;
  margin-bottom: 2rem;
}

.iframe-rock-paper-scissors {
  border: 5px solid black;
  margin-bottom: 2rem;
}

.iframe-quiz {
  border: 5px solid black;
  margin-bottom: 2rem;
}

.iframe-movie-catalog {
  border: 5px solid black;
  margin-bottom: 2rem;
}

.iframe-star-wars {
  border: 5px solid black;
}
