.skills-section {
  text-align: center;
  margin-bottom: 5rem;
}

.skills-header {
  margin: 2rem 0rem;
  font-size: 2rem;
  text-decoration: underline;
}

.skills {
  display: flex;
}

.skill-name {
  font-size: 1rem;
  text-decoration: underline;
}

.skill-logo {
}
