.about-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0rem;
  background: linear-gradient(
    rgb(255, 255, 255),
    rgba(0, 0, 0, 0.167),
    rgb(255, 255, 255)
  );
}

.about-header {
  font-size: 2rem;
  text-align: center;
}

.about-container {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

.profile-img {
  border: 2px solid rgb(160, 159, 159);
  background: rgb(0, 0, 0);
  border-radius: 50%;
  height: 360px;
  width: 360px;
  object-fit: cover;
  padding: 5px;
  margin: 90px auto;
}

.info-container {
  /* border: 2px solid black; */
  background: linear-gradient(rgb(233, 177, 93), rgb(137, 137, 246));
  font-size: larger;
  width: 600px;
  padding: 30px 30px;
  border-radius: 15px;
  margin: 20px;
}

.info-container p {
  font-weight: bold;
  margin: 5px;
}

.list-item {
  display: list-item;
  list-style: disc;
}

.list-item > ul {
  padding: 0 10px;
}

.nested-list-item {
  display: list-item;
  list-style: circle;
}
