.header-container {
  color: rgba(0, 0, 0, 0.738);
  background-color: white;
  /* border-bottom: solid rgba(0, 0, 0, 0.512) 2px; */
  font-family: cursive;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.75);
}

.header-info {
  padding: 8px 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
}

.author {
  font-size: 1.5rem;
  line-height: 1;
}

.socialmedia-logos {
  display: flex;
  align-items: center;
}

.github {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 1rem;
}

.linkedin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 1rem;
}

.nav-container {
  display: flex;
  justify-content: center;
  padding-bottom: 6px;
}

.nav-link {
  margin: 0 10px;
  padding: 10px;
}

@media screen and (min-width: 746px) {
  .header-info {
    padding: 2rem 3rem 8px 3rem;
  }

  .author {
    font-size: 2rem;
  }
}
