.footer-contact-info {
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-top: 2px solid black;
  text-align: center;
}
