@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(./images/portfolio-bkg1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
