@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: url(./images/portfolio-bkg2.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; */
}
